/* You can add global styles to this file, and also import other style files */
ngx-input-counter.custom {
  font-family: 'Segoe UI', Verdana, sans-serif;
  .ngx-input-counter-container {
    border-radius: 500px;
    text-align: center;
    .ngx-input-counter-value {
      width: 30px;
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
    }
  }
  
  .ngx-input-counter-button {
    border: 1px solid #999;
    border-radius: 100%;
    background-color: white;
    width: 36px;
    height: 36px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: #ddd;
      box-shadow: 1px 1px 2px 1px #ccc;
    }
  }
}

ngx-input-counter.custom-plus {
  font-family: 'Segoe UI', Verdana, sans-serif;
  .ngx-input-counter-container {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    .ngx-input-counter-value {
      width: 30px;
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
    }
  }
  
  .ngx-input-counter-button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    line-height: unset;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: #ddd;
    }
  }
}